* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* #region utilities */

.debug header {
      border: 1px solid;
      background-color: red;
}

.container {
      width: 80%;
      max-width: 1200px;
      margin:0 auto;
}

.row {
      display: flex;
      flex-wrap: wrap;
}

[class^="col-"] {
      background-color: aqua;
      border: 1px solid;
}

.col-2 {
      width: calc(( 100% / 12) * 2);
}

.col-8 {
      width: calc(( 100% / 12) * 8);
}

.h-200 {
      height: 200px;
}
.banner_bg {
      background-color: darkblue;
      margin: auto;
}

.banner_bg>.container {
      background-color: pink;
      height: 100px;
      
}

/* #endregion utilities */
