* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* #region utilities */

.debug header {
      background-color: red;
}

.container {
      width: 80%;
      max-width: 1200px;
      margin:0 auto;
      border: 1px solid;
}

.row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
}

[class^="col-"] {
      background-color: aqua;
      border: 1px solid;
      height: 100px;
}

.col-2 {
      width: calc(( 100% / 12) * 2);
}

.col-4 {
      width: calc(( 100% / 12) * 4);
      background-color: red;
}
.col-8 {
      width: calc(( 100% / 12) * 8);
}

.banner_bg {
      background-color: darkblue;
      height: 300px;
}

.banner_bg>.container {
      background-color: pink;
      width: 50%;
      height: 100px;
}

.bg_gray {
      background-color: gray;
}

.news {
      height: 200px;
      background-color: lightcoral;
}

.contact {
      background-color: darkblue;
}
/* #endregion utilities */
